@import 'tailwindcss';

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: rgb(233, 233, 233);
    color: rgb(165, 208, 57);
    font-size: x-large;
    font-weight: bold;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility boxContent {
    @apply mt-20 px-30 py-10 w-full min-h-[50vh] overflow-hidden;
}

@utility bgGreen {
    @apply bg-emerald-300;
}

@layer components {
    #splitText {
        .word1,
        .word12,
        .word17 {
            @apply border-2 border-blue-600 border-dashed;
        }
    }

    #flipBox {
        @apply relative mt-20 px-30 py-10 bg-green-300 overflow-hidden;

        .flipBox {
            @apply transform border-2 border-cyan-500 border-dashed;
            display: flex;
            justify-content: center;
            align-items: center;
            color: cornsilk;
            font-size: 1rem;
            font-weight: bold;
            background-color: rgb(150, 68, 68);
        }

        .newContainer {
            @apply absolute top-0 right-0 w-1/2 h-1/2 translate-y-1/2 bg-amber-400;
        }
    }

    #timeline {
        @apply boxContent;

        #fred {
            @apply flex-center;
        }
        img {
            @apply w-30 my-5 mx-5;
        }
    }
    .buttonList {
        @apply flex-center gap-2;

        button {
            @apply cursor-pointer active:bg-emerald-200 px-10 py-5 rounded-2xl bg-emerald-300 text-2xl font-bold text-black;
        }
    }

    #hoverText {
        .item {
            @apply flex items-center justify-start cursor-pointer;
            .dot {
                @apply w-5 h-5 rounded-full bg-gray-500;
            }
            .text {
                @apply text-3xl font-bold text-gray-500 uppercase ml-2;
            }
        }
    }

    #finalProject {
        @apply text-black;
        .background {
            position: relative;
            width: 621px;
            height: 385px;
            border: 1px solid #333;
            background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/32887/creative-process-bg.png);
        }

        .myButton {
            margin-top: 20px;
            -moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
            -webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
            box-shadow: inset 0px 1px 0px 0px #fbafe3;
            background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0.05, #ff905c),
                color-stop(1, #ef027d)
            );
            background: -moz-linear-gradient(top, #ff905c 5%, #ef027d 100%);
            background: -webkit-linear-gradient(top, #ff905c 5%, #ef027d 100%);
            background: -o-linear-gradient(top, #ff905c 5%, #ef027d 100%);
            background: -ms-linear-gradient(top, #ff905c 5%, #ef027d 100%);
            background: linear-gradient(to bottom, #ff905c 5%, #ef027d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff905c', endColorstr='#ef027d',GradientType=0);
            background-color: #ff905c;
            -moz-border-radius: 17px;
            -webkit-border-radius: 17px;
            border-radius: 17px;
            border: 1px solid #ee1eb5;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #c70067;
        }
        .myButton:hover {
            background: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0.05, #ef027d),
                color-stop(1, #ff905c)
            );
            background: -moz-linear-gradient(top, #ef027d 5%, #ff905c 100%);
            background: -webkit-linear-gradient(top, #ef027d 5%, #ff905c 100%);
            background: -o-linear-gradient(top, #ef027d 5%, #ff905c 100%);
            background: -ms-linear-gradient(top, #ef027d 5%, #ff905c 100%);
            background: linear-gradient(to bottom, #ef027d 5%, #ff905c 100%);
        }

        .myButton:active {
            position: relative;
        }

        .right-content {
            @apply absolute right-20 top-10;

            .items {
                img {
                    @apply my-2;
                }
            }
        }
    }

    #hermanHoper {
        @apply flex-center;

        .demo {
            @apply w-[400px] h-[400px]  relative bg-teal-100 rounded-4xl;

            .hermanWrapper {
                @apply h-[305px] w-full overflow-hidden relative rounded-[50%];

                .herman {
                    @apply w-[100px] absolute bottom-[0] left-1/2 -translate-x-1/2;
                }
            }
            .shadow {
                width: 150px;
                height: 20px;
                position: absolute;
                left: 125px;
                top: 290px;
                opacity: 0;
                background: radial-gradient(
                    rgb(100, 100, 100, 0.6),
                    rgb(0, 0, 0, 0) 75%
                );
                background-repeat: no-repeat;
            }
            .hole {
                @apply absolute top-[290px] left-1/2 -translate-x-1/2 w-[150px] h-[20px] rounded-[50%] bg-black;
            }
        }
    }

    #scrollNavChangeColor {
        .nav {
            top: 0;
            width: 100vw;
            padding: 20px;
            position: fixed;
            background: #00bfff;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            min-height: 100px;

            a {
                @apply text-2xl text-white font-bold mx-3 p-4 inline-block;
            }
        }
        .fullscreen {
            width: 100vw;
            height: 100vh;
            padding: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 8vw;
            color: white;
        }
        .message {
            /* visibility: hidden; */
            height: 80px;
            width: 250px;
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            font-weight: bold;
            border-radius: 8px 8px 0 0;
            overflow: hidden;
        }

        .message img {
            position: absolute;
        }
        .linkwrap {
            position: absolute;
            width: 250px;
            height: 80px;
            overflow: hidden;
            display: flex;
            align-items: center;
            left: 65px;
            top: 10px;
            a {
                width: 180px;
                color: #f60;
                background: black;
                padding: 16px 16px 16px 30px;
                border-radius: 0 20px 20px 0;
            }
        }
    }

    #utilBasic {
        h1 {
            @apply text-4xl font-bold text-blue-500;
        }
        #demoUtilBasic {
            @apply border-black border-solid border-1 w-[600px] h-[600px];

            .line {
                @apply absolute w-[1px] h-[600px] bg-black left-1/2;
            }

            .box {
                position: absolute;
                width: 50px;
                height: 50px;
                background: dodgerblue;
                border-radius: 10px;
                left: 275px;
                top: 275px;
            }
            .box path {
                fill: white;
            }

            /* .box,
            .line {
                pointer-events: none;
            } */
        }
    }

    #text3d {
        .wrapper-content {
            @apply flex items-center justify-center;
            .demo {
                @apply relative perspective-midrange w-full;

                div {
                    @apply absolute text-4xl top-8 left-1/2 -translate-x-1/2 text-nowrap;
                }
            }
        }
    }
}
