@import 'tailwindcss';

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    background-color: rgb(233, 233, 233);
    color: rgb(165, 208, 57);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility boxContent {
    @apply mt-20 px-30 py-10 w-full min-h-[50vh] overflow-hidden;
}

@utility bgGreen {
    @apply bg-emerald-300;
}

@layer components {
    #splitText {
        .word1,
        .word12,
        .word17 {
            @apply border-2 border-blue-600 border-dashed;
        }
    }

    #flipBox {
        @apply relative mt-20 px-30 py-10 bg-green-300 overflow-hidden;

        .flipBox {
            @apply transform border-2 border-cyan-500 border-dashed;
            display: flex;
            justify-content: center;
            align-items: center;
            color: cornsilk;
            font-size: 1rem;
            font-weight: bold;
            background-color: rgb(150, 68, 68);
        }

        .newContainer {
            @apply absolute top-0 right-0 w-1/2 h-1/2 translate-y-1/2 bg-amber-400;
        }
    }

    #timeline {
        @apply boxContent;

        #fred {
            @apply flex-center;
        }
        img {
            @apply w-30 my-5 mx-5;
        }
    }
    .buttonList {
        @apply flex-center gap-2;

        button {
            @apply cursor-pointer active:bg-emerald-200 px-10 py-5 rounded-2xl bg-emerald-300 text-2xl font-bold text-black;
        }
    }

    #hoverText {
        .item {
            @apply flex-center cursor-pointer;
            .dot {
                @apply w-5 h-5 rounded-full bg-gray-500;
            }
            .text {
                @apply text-3xl font-bold text-gray-500 uppercase ml-2;
            }
        }
    }
}
